################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjetoFinalAceleraDotNet/FileContentIndex/5f31b518-7f9b-4f30-a385-1b9fdfd132fb.vsidx
/.vs/ProjetoFinalAceleraDotNet/FileContentIndex/e09c9dae-8a71-42f4-8ae4-415cbee71d5c.vsidx
