<div id="wrapper">
  <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark">
    <div class="container-fluid d-flex flex-column p-0">
      <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
        <img width="100px" height="100px" src="/assets/crypt.png" style="margin-top: 25px; display: block;" />
      </a>
      <hr class="sidebar-divider my-auto" />
      <ul class="navbar-nav text-light" id="accordionSidebar">
        <li class="nav-item">
          <a class="nav-link btn btn-primary mb-2 my-2 p-3" href="/balance">
            <span>Saldos</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <section class="hero text-center text-white" style="background-image: url('caminho/para/imagem.jpg');">
        <div class="container">
        </div>
      </section>
      <div class="container-fluid mt-4">
        <div class="card shadow">
          <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Detalhes das Transações</p>
          </div>
          <div class="card-body">
            <div class="container">
              <div class="d-flex justify-content-between align-items-center bg-light p-3">
                <div> Data inicial:<input class="form-control" type="date" id="dataInicial" name="dataInicial"></div>
                <div> Data final:<input class="form-control" type="date" id="dataFinal" name="dataFinal"></div>
                <button class="btn btn-primary">Pesquisar</button>
              </div>
            </div>
            <div class="table-responsive">
              <section class="hero text-white bg-primary">
                <div class="container">
                </div>
              </section>
              <div class="container mt-4">
                <div class="card shadow">
                  <div class="card-header bg-primary text-white">
                    <h5 class="m-0 fw-bold">Transações Financeiras</h5>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-bordered table-striped">
                        <thead>
                          <tr class="bg-primary text-white">
                            <th scope="col">Data</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Agência</th>
                            <th scope="col">Operação</th>
                            <th scope="col">Situação</th>
                            <th scope="col">Valor (BRL)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let transacao of transacoes">
                            <td>{{ transacao.data }}</td>
                            <td>{{ transacao.hora }}</td>
                            <td>{{ transacao.agencia }}</td>
                            <td>{{ transacao.operacao }}</td>
                            <td>{{ transacao.situacao }}</td>
                            <td>{{ transacao.valor | currency:'BRL' }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
